.btn {
    cursor: pointer;
}

.btn_sm {
    margin: 3px;
    width: 30px;
    padding: 0.25rem 0.25rem;
    font-size: .75rem;
    border-radius: 0.2rem;
    background-color: inherit;
}

.btn_success {
    color: #54BA89;
    border: 1px solid #54BA89;
    transition: ease-out 0.25s;
}

.btn_success:hover {
    color: #FFFFFF;
    background-color: #54BA89;
}

.btn_danger {
    color: #DE3E3E;
    border: 1px solid #DE3E3E;
    transition: ease-out 0.25s;
}

.btn_danger:hover {
    color: #FFFFFF;
    background-color: #DE3E3E;
}