.control-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
        width: 30%
    }
}

.modal-switch .form-check-input {
    width: 5rem;
    height: 1.5rem;
}

.pr-0 {
    padding-right: 0;
}