.clock-box {
    margin: 10px 20px;
    position: relative;
}

.clock {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #FFFFFF;
    font-size: 2.5rem;
    transform: translate(-50%, -32px);
}