.clock-box {
    margin: 10px 20px;
}

.clock {
    border-radius: 50%;
    height: 40vh;
    width: 100%;
    background-color: #f547479f;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    color: #FFFFFF;
    font-size: 3rem;
}